body {
  background-color: rgb(226, 243, 247)
}

.App {
  text-align: center;
}

.input {
  display: inline-block;
  width: 300px;
  height: 500px;
  margin: 5px 10px 6px 12px;
  background-color: white
}